body{
    background-color:rgb(53, 22, 9);
    background-image: url(images/background.jpg);
    background-blend-mode: multiply;
}

body h1{
    font-family: Helvetica;
    color: rgb(195, 168, 152);
    font-size: 80px;
}

body p{
    font-family: Helvetica;
    color: black;
}

body a{
    font-family: Helvetica;
    color: black;
    text-decoration: underline;
}

.maincontainer{
    width:100%;
    height: 500px;
    display:flex;
}

.hspace{
    height:100%;
}

.vspace{
    width:100%;
}

.titlecontainer{
    width:90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    text-align: center;
    display: block;
}

.errormsg{
    width:100%;
    height: 50px;
    opacity:0;
    border-radius: 5px;
    text-align: center;
}

.errormsg p{
    font-size: 13px;
    color:white;
}

.errormsg a{
    font-size: 13px;
    color:white;
}

.titlecontainer button{
    background-color: rgb(195, 168, 152);
    font-size: 20px;
    font-family: arial;
    border-radius: 10px;
    width:20%;
    height:40px;
}

.titlecontainer button:hover {
    transition: 0.15s;
    transform:scale(1.1, 1.2);
    background-color:rgb(122, 107, 98);
}
