body{
    background-color:rgb(19, 6, 0);
}

.titlebar {
    background-color: rgb(62, 33, 0); 
    width:99%;
    height:40px;
    border-radius: 10px; 
    display: flex;
    position: fixed;
}

.section {
    background-color: rgb(45, 24, 0) ;
    width:14%;
    height:100%;
    border-radius: 10px; 
    text-align: center;
}
    
.section a {
    padding-top: 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(207, 194, 186);
}

.section h1 {
    font-size: 15px;
    text-decoration: none;
    color: rgb(207, 194, 186);
}

.tokenimg{
    width:3%;
    height:100%;
    padding-top:5px ;
}

.tokenimg img{
    width:80%;
    height:80%;
}

.maincontainer{
    width:100%;
    height: 600px;
    display:block;
    overflow: hidden;
}

.content{
    width:47%;
    background-color: rgb(98, 82, 67);
    height: 100%;
    border-radius: 10px;
    display:flex;
    text-align: center;
}

.content h1{
    color: rgb(207, 194, 186);
    background-color: rgba(0,0,0,0.2);
    font-size: 25px;
}


.innercontent{
    width:95%;
    height: 100%;
    border-radius: 10px;
    display:block;
    justify-content: center;
}

.titlecontainer{
    width:100%;
    height: 10%;
    display:flex;
}

.title{
    width:80%;
    background-color:  rgb(45, 24, 0);
    height: 100%;
    border-radius: 10px;
    text-align: center;
}

.title h1{
    font-size: 25px;
    color: rgb(207, 194, 186);
    background-color: rgba(0,0,0,0);
}

.hspace{
    height:100%;
}

.vspace{
    width:100%;
}

.section:hover {
    transition: 0.15s;
    background-color:rgb(50, 34, 15);
}

.modeimage{
    text-align: center;
}

.modeimage img{
    width:20%;
    height:auto;
}

.arena{
    width:100%;
    height:600px;
    background-color: rgb(98, 82, 67);
}

.slot{
    width:19.2%; 
    height:99%; 
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    text-align: center; 
    border:2px solid black;
    overflow: hidden;
}

.slot p {
    color:white;
    font-size: 20px;
    max-width: 200px;
}

.content button{
    width:5%;
    background-color: rgb(195, 168, 152);
    font-size: 20px;
    font-family: arial;
    border-radius: 5px;
    cursor: pointer;
}

.content button:hover {
    transition: 0.15s;
    background-color:rgb(122, 107, 98);
}

.playbutton button{
    width:25%;
    height:100%;
    background-color: rgb(195, 168, 152);
    font-size: 18px;
    font-family: arial;
    border-radius: 10px;
    cursor: pointer;
}

.playbutton button:hover {
    transition: 0.15s;
    transform:scale(1.1, 1.2);
    background-color:rgb(122, 107, 98);
}